---
layout: default
---

{{ content }}

<br><br>

<div class="btn-group row">
	{% if page.previous %}
        <div class="col-md-6">
        <a href="{{ site.baseurl }}{{ page.previous.url }}"><button type="button" class="btn btn-default">&lt Back</button></a>
    	</div>
	{% endif %}

	{% if page.next %}
        <div class="col-md-6">
        <a href="{{ site.baseurl }}{{ page.next.url }}"><button type="button" class="btn btn-default">Next &gt</button></a>
    	</div>
	{% endif %}
</div>

<br><br>